<p><h3>Hi vinuta.udagatti@gmail.com</h3> <br/>
	Today, I have transfer the amount of <%=@transaction.amount%> to <%=@transaction.company.name%>  of account number <%=@transaction.account.acc_no%><br/>

	regards,<br/>
	Admin ,Vinolya Company	 
</p>

