<p><h3>Hi vinuta.testing@gmail.com</h3> <br/>
	Today, I have destroy the transaction of amount of <%=@transaction.amount%> from <%=@transaction.company.name%>  of account number <%=@transaction.account.acc_no%><br/>

	regards,<br/>
	Admin ,Vinolya Company	 
</p>
