<div class="dashboard-style">
<div class="dashboard">
<h3>You Need To Select Account Before Proceeding</h3><br/><br/>
</div>


	<%@accounts.order('created_at DESC').each do |acc| %>
	<div class="col-md-4">
	<div class="well well-sm">
		<% def number_to_indian_currency(current_balance, html=true)%>
 			<% txt = html ? ( 'Rs.') : 'Rs.' %>
 			<% "#{txt} #{current_balance.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,")}"%>
 		<%end%>
 		
		Account_no : <%=link_to acc.acc_no , accounts_select_account_path(account_id: acc.id)%><br/></a>Current Balance : <%=number_to_indian_currency(acc.current_balance)%><br/>
		<%if acc.company== nil%>
 			Company Name : No Company Found
 		<%else%>
		Company Name : <%= acc.company.name%>
		<%end%>
	</div>
	</div>	
	<%end%>	
	


