<% if @perticular.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@perticular.errors.count, "error") %> prohibited this perticular from being saved:</h4>

      <ul>
      <% @perticular.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>