<table class ="table table-striped" id="myTable">
  <thead>
    <tr>
      <th class="text-success">Name</th>
      <th class="text-success">Perticular Type</th>
      
    </tr>
  </thead>

  <tbody>
    <% Perticular.all.order('created_at DESC').each do |perticular| %>
      <tr>
        <td><%= perticular.try(:name) %></td>
        <td><%= perticular.try(:perticular_type) %></td>
        
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>